# URL del backend en producción (Render)
VITE_BACKEND_URL=https://confia-car-api.onrender.com

# Google OAuth Client ID (Opcional)
VITE_GOOGLE_CLIENT_ID=client_id_from_google

# MERCADO PAGO
VITE_MP_PUBLIC_KEY=public_key_from_mercadopago